@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


/* @font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 900;
} */

@font-face {
  font-family: "Neue-Montreal";
  src: url("/assets/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Neue-Montreal";
  src: url("/assets/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Neue-Montreal";
  src: url("/assets/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
}


@theme {
  /* Fonts */
  --font-neue-montreal: "Neue-Montreal", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;

  /* Colors */

  /* Primary */

  --color-primary-05: #171249;
  --color-secondary-05: #FFFAE6;


  --color-neutral-05: #f5f5f5;
  --color-neutral-10: #4A4A4A;
  --color-neutral-15: #0D0D0D;
  --color-neutral-20: #757575;
  --color-neutral-25: #DEDEDE;
  --color-neutral-30: #B0B0B0;
  --color-neutral-35: #666;
  --color-neutral-40: #949494;


  /* Shadows */
  --shadow-navbar: 0 2px 48px 0 rgba(0, 0, 0, 0.12);

  /* Gradients */
  --bg-gradient-primary:linear-gradient(315deg, #2D2670 0%, #171249 100%);
  --bg-gradient-card: linear-gradient(0deg, #fff 50%, #f5f5f5 100%);
   --bg-gray-gradient:linear-gradient(213deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.48) 50%);
   --bg-gradient-client: linear-gradient(270deg, rgba(222, 222, 222, 0.00) 0%, #DEDEDE 50%);
   --bg-gradient-service-card: linear-gradient(315deg, rgba(45, 38, 112, 0.10) 0%, rgba(23, 18, 73, 0.10) 100%);
}

.body {
  font-family: "Satoshi";
}

.bg-gradient-primary {
  background: var(--bg-gradient-primary);
}

.bg-gradient-client {
  background: var(--bg-gradient-client);
}

.bg-gradient-service-card {
  background: var(--bg-gradient-service-card);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .title {
    @apply text-5xl font-medium leading-14 text-neutral-15;
  }
}
